<h1> <%= @article.title %> </h1>
<h2><%= @article.content %></h2>
<p> <i class="fa-solid fa-trash"></i> <%= link_to "Delete" ,  article_path(@article), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }  %></p>
<li> <%= link_to "Back to list", articles_path %></li>
<%= link_to "Update", edit_article_path %>
